@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Montserrat", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.image-pizza {
  height: 250px;
  width: 250px;
}

.pointer {
  cursor: pointer;
}

.cart-items-list {
  width: 90%;
  margin: auto;
  border-radius: 20px;
}

.login {
  background-image: url("./assets/bg1.svg");
  background-repeat: no-repeat !important;
  background-size: cover !important;
  height: 100vh;
}
.register {
  background-image: url("./assets/bg2.svg");
  background-repeat: no-repeat !important;
  background-size: cover !important;
  height: 100vh;
}

.center-form {
  display: flex;
  align-items: center;
  justify-content: center;
}
